@charset "utf-8";
// --------------------------------------------------------------------------------------------------------------------------------
// 【プレースホルダー名】 ellipsis
// 【呼び出し】 @extend ellipsis;
// 【機能】 領域からはみ出るテキストに「...」をつける
// --------------------------------------------------------------------------------------------------------------------------------
%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}