@charset "utf-8";
// --------------------------------------------------------------------------------------------------------------------------------
// 【プレースホルダー名】 img-replacement
// 【呼び出し】 @extend img-replacement;
// 【機能】 画像置換用の各プロパティを出力
// 【参考URL】 http://coliss.com/articles/build-websites/operation/css/css-hack-new-image-eplacement-by-zeldman.html
// --------------------------------------------------------------------------------------------------------------------------------
%img-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}