@charset "utf-8";
// -------------------------------------------------------------------------------

// 【function名】 fz
// 【呼び出し】 font-size: fz(10);

// 【機能】
// font-size: fz(10); のように指定すると入力したpx値に対応する％指定の値が返却されます

// 現在変換可能な指定は下記の通りです
// 10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px

// fz(★)　★に入力できる値は 10～26までです。pxを入力に含めないことに注意してください。
// ★に10未満の値を入力した場合、強制的に10にします
// ★に26を超える値を入力した場合、強制的に26にします

// 【参考URL】
// http://css-eblog.com/sass/sass-loop.html

// px → % の値参考
// http://webtech-walker.com/archive/2008/05/16032443.html

// -------------------------------------------------------------------------------

// -------------------------------------------------------------------------------
// 初期設定は 14px = 100% を設定
// -------------------------------------------------------------------------------
$fontSizeList: 72%,79%,86%,93%,100%,108%,115%,122%,129%,136%,143%,150%,158%,165%,172%,179%,186%;


// -------------------------------------------------------------------------------
// _setting.scss の「基準 font-size」の項目で設定した値をもとに、条件分岐
// -------------------------------------------------------------------------------
@if $fontSizeDef <= 12 {
	// 12px = 100%
	$fontSizeList: 84%,92%,100%,109%,117%,125%,134%,142%,150%,159%,167%,175%,184%,192%,200%,209%,217%;
} @else if $fontSizeDef == 13{
	$fontSizeList: 77%,85%,93%,100%,108%,116%,124%,131%,139%,147%,154%,162%,170%,177%,185%,193%,200%;
} @else if $fontSizeDef == 14{
	$fontSizeList: 72%,79%,86%,93%,100%,108%,115%,122%,129%,136%,143%,150%,158%,165%,172%,179%,186%;
} @else if $fontSizeDef == 15{
	$fontSizeList: 67%,74%,80%,87%,94%,100%,107%,114%,120%,127%,134%,140%,147%,154%,160%,167%,174%;
} @else if $fontSizeDef >= 16{
	$fontSizeList: 63%,69%,75%,82%,88%,94%,100%,107%,113%,119%,125%,132%,138%,144%,150%,157%,163%;
}

// -------------------------------------------------------------------------------
// $fontSizeList の値を元にpx値に対応する％を指定
// -------------------------------------------------------------------------------
@function fz($size) {
	@if $size < 10 {
		$size: 10;
	}
	@if $size > 26 {
		$size: 26;
	}
	@return nth($fontSizeList, $size - 9);
}