@charset "utf-8";
// --------------------------------------------------------------------------------------------------------------------------------

// 【ミックスイン名】 clearfix
// 【呼び出し】 @include clearfix;
// 【機能】 floatの解除 IE6・IE7の場合は分岐処理

// 【参考】※1 footerの隙間を解消。
// 		http://zakey.net/archives/389

// --------------------------------------------------------------------------------------------------------------------------------

$clearfix: false !default;
@mixin clearfix() {
	@if $clearfix {}
	@else {
		$clearfix: true;

/*----------------------------------------
 ClearFix
----------------------------------------*/
	.cfx,
	.clear,
	.clearfix {
		@if $legacy-support-for-ie7 {
		min-height: 1px;
		}
		@if $legacy-support-for-ie6 {
		_height: 1%;
		}
		&:after {
			content: ".";
			display: block;
			clear: both;
			height: 0;
			visibility: hidden;
			font-size: 0; //※1
		}
	}

	}
}