@charset "utf-8";
// --------------------------------------------------------------------------------------------------------------------------------
// 【ミックスイン名】 ellipsis
// 【呼び出し】 @include ellipsis-text;
// 【機能】 領域からはみ出るテキストに「...」をつける
// --------------------------------------------------------------------------------------------------------------------------------
@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@if $experimental-support-for-opera { -o-text-overflow: ellipsis; }
}